@using QEQ.Models
@model Usuarios

@{
    ViewBag.Title = "LoginUs";
}

<h2>Iniciar Sesión</h2>

@using (Html.BeginForm("LoginUs2", "Home", FormMethod.Post))
{
    if (ViewBag.UsIncorrecto!=null)
    {
        <h1>@ViewBag.UsIncorrecto</h1>
    }
    
    <p>Nombre usuario</p> <input type="text" name="nombre" /><br />
    <p>Contraseña</p> <input type="password" name="pass" /><br />
    <input type="submit" value="Aceptar" />
}


