
@{


    ViewBag.Title = "Home Page";
}
<h1>QUIEN ES QUIEN</h1>

    <h6>@Html.ActionLink("Registrarse", "EditarRegistrar", "Home", new { Accion = "Registrar" })</h6>
    <h6>@Html.ActionLink("Editar", "EditarRegistrar", "Home", new { Accion = "Editar" })</h6>
    <h6>@Html.ActionLink("About", "About", "Home", new { Accion = "About" })</h6>
    <h6>@Html.ActionLink("Instrucciones", "Instrucciones", "Home", new { Accion = "Inst" })</h6>

