@{
    Layout = null;
}

<h1>¿Cómo jugar?</h1>
<p>
    El objetivo del juego es adivinar el personaje elegido por la computadora y quedarte con la mayor cantidad de bitcoins posibles. Primero, el usuario elige una categoría y luego la computadora seleccionará un personaje que pertenezca a dicha categoría.
    Al empezar el juego, la computadora mostrará por 5 segundos a todos los personajes posibles de la categoría y luego los ocultará. Una vez ocultados, el jugador podrá empezar a preguntar.
    Por cada partida, el jugador arranca con 1.000.000 de bitcoins las cuales se descuentan a medida que el juego avanza. Por cada pregunta hecha, se le restarán 10.000 bitcoins y, por cada vez que arriesga, 50.000. Además, por 100.000 bitcoins, el jugador podrá ver los personajes restantes luego de las preguntas hechas por 5 segundos
    Una vez adivinado el personaje, se le acumularán al jugador la cantidad de bitcoins con las que terminó y, en base a la cantidad que haya ganado, aparecerá en un ranking donde se muestran los jugadores con mayor cantidad de bitcoins.
</p>
<h6>@Html.ActionLink("Volver", "Index", "Home")</h6>